<form action="/basic" method="GET" enctype="multipart/form-data">
    <input type="hidden" name="hush" value="Super Secret!!">
    <div class="mb-3">
        <label class="form-label" for="color"> Your favorite Color: </label>
        <input class="form-control" type="text" name="color" id="color" value="">
    </div>
    <div class="mb-3">
        <button class="btn bton-primary" type="submit"> Submit </button>
    </div>
</form>